/html/node_modules
/node_modules
/html/dist
/html/src/assets/js/es5
/laravel-version/gull-html-laravel/node_modules
/laravel-version/gull-html-laravel/public/hot
/laravel-version/gull-html-laravel/public/storage
/laravel-version/gull-html-laravel/storage/*.key
/laravel-version/gull-html-laravel/vendor
/laravel-version/gull-html-laravel/.env
/laravel-version/gull-html-laravel/.phpunit.result.cache
/laravel-version/gull-html-laravel/Homestead.json
/laravel-version/gull-html-laravel/Homestead.yaml
/laravel-version/gull-html-laravel/npm-debug.log
/laravel-version/gull-html-laravel/yarn-error.log

/laravel-version/gull-laravel-starter-kit/node_modules
/laravel-version/gull-laravel-starter-kit/public/hot
/laravel-version/gull-laravel-starter-kit/public/storage
/laravel-version/gull-laravel-starter-kit/storage/*.key
/laravel-version/gull-laravel-starter-kit/vendor
/laravel-version/gull-laravel-starter-kit/.env
/laravel-version/gull-laravel-starter-kit/.phpunit.result.cache
/laravel-version/gull-laravel-starter-kit/Homestead.json
/laravel-version/gull-laravel-starter-kit/Homestead.yaml
/laravel-version/gull-laravel-starter-kit/npm-debug.log
/laravel-version/gull-laravel-starter-kit/yarn-error.log
